{% extends "adminBase.html" %}
{% block content %}
<div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">상세 보기</h4>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>제목</th><th>계정 삭제는 어떻게 하나요?</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>내용</td>
                        <td><textarea style="border: none; width: 500px; height: 100px;" readonly >이제 나가려고 합니다 ting.... 빡칩니다..ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</textarea></td>
                      </tr>
                      <tr><td>작성자</td> <td>홍길동</td></tr>
                      <tr><td>작성일</td> <td>20.12.02</td></tr>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
{% endblock content %}