{% extends "adminBase.html" %}

 <!-- Sidebar -->
{% block content %}
            <!-- Page Title Header Ends-->
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-3 col-md-6">
                        <div class="d-flex">
                          <div class="wrapper">
                            <h3 class="mb-0 font-weight-semibold logintoday"></h3>
                            <h5 class="mb-0 font-weight-medium text-primary">방문자 수</h5>
                            <p class="mb-0 text-muted loginincrease">+14.00(+0.50%)</p>
                          </div>
                          <div class="wrapper my-auto ml-auto ml-lg-4">
                            <canvas height="50" width="100" id="stats-line-graph-1"></canvas>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                          <div class="wrapper">
                            <h3 class="mb-0 font-weight-semibold salestoday"></h3>
                            <h5 class="mb-0 font-weight-medium text-primary">매출</h5>
                            <p class="mb-0 text-muted salesincrease">+138.97(+0.54%)</p>
                          </div>
                          <div class="wrapper my-auto ml-auto ml-lg-4">
                            <canvas height="50" width="100" id="stats-line-graph-2"></canvas>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                          <div class="wrapper">
                            <h3 class="mb-0 font-weight-semibold signuptoday">7,688</h3>
                            <h5 class="mb-0 font-weight-medium text-primary">회원가입</h5>
                            <p class="mb-0 text-muted signupincrease">+57.62(+0.76%)</p>
                          </div>
                          <div class="wrapper my-auto ml-auto ml-lg-4">
                            <canvas height="50" width="100" id="stats-line-graph-3"></canvas>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                        <div class="d-flex">
                          <div class="wrapper">
                            <h3 class="mb-0 font-weight-semibold coupletoday">1,553</h3>
                            <h5 class="mb-0 font-weight-medium text-primary">매칭성공</h5>
                            <p class="mb-0 text-muted coupleincrease">+138.97(+0.54%)</p>
                          </div>
                          <div class="wrapper my-auto ml-auto ml-lg-4">
                            <canvas height="50" width="100" id="stats-line-graph-4"></canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title mb-0">매출 추이 비교</h4>
                    <div class="d-flex flex-column flex-lg-row">


                    </div>
                    <div class="d-flex flex-column flex-lg-row">
                      <div class="data-wrapper d-flex mt-2 mt-lg-0">

                        <div class="wrapper">
                          <h5 class="mb-0">지난 7일 평균 매출</h5>
                          <div class="d-flex align-items-center">
                            <h4 class="font-weight-semibold mb-0 weekSalesAvg">$753,098</h4>
                            <small class="ml-2 text-gray d-none d-lg-block weekSalesAvgIncrease"><b>10.5%</b> </small>
                          </div>
                        </div>
                      </div>
                      <div class="ml-lg-auto" id="sales-statistics-legend"></div>
                    </div>
                    <canvas class="mt-5" height="120" id="sales-statistics-overview"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <h4 class="mb-0"> 오늘의 문의 및 신고</h4>
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th> 번호 </th>
                          <th> 제목 </th>
                          <th> 작성자 </th>
                          <th> 유형 </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for e in result %}
                          <tr>
                            <td>{{e.0}}</td>
                            {% if e.4 == 0 %}
                            <td><a href="Ask_1_detail?idx={{e.0}}"/>{{e.1}}</td>
                            {% else %}
                            <td><a href="Complain_1_chatDetail?idx={{e.0}}"/>{{e.1}}</td>
                            {% endif %}
                            <td> {{e.2}} </td>
                            {% if e.4 == 0 %}
                              <td> 문의 </td>
                              {% else %}
                              <td> 신고 </td>
                              {% endif %}
                          </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                </div>
              </div>
            </div>


          </div>

    {% csrf_token %}
    <script>
        var Logindays = []
        var dayloginusercnt_all=[]
    </script>
    {% for day,loginuser in LoginDay %}
    <script>
        var x = '{{day}}'
        var y = '{{loginuser}}'
        Logindays.push(x)
        dayloginusercnt_all.push(y)
    </script>
    {% endfor %}
    <script>
        var LoginToday = dayloginusercnt_all[dayloginusercnt_all.length-1]
        var LoginYesterday = dayloginusercnt_all[dayloginusercnt_all.length-2]
        var diff= LoginToday-LoginYesterday
        var ratio =diff*100/LoginToday
        $('.logintoday').text(LoginToday+"명")
        $('.loginincrease').text(diff+"명"+"("+ratio.toFixed(2)+"%"+")")
    </script>

  {% csrf_token %}
    <script>
        var Salesdays = []
        var daysales_all=[]
    </script>
    {% for day,daysales in SalesDay %}
    <script>
        var x = '{{day}}'
        var y = '{{daysales}}'
        Salesdays.push(x)
        daysales_all.push(y)
    </script>
    {% endfor %}
    <script>
        var SalesToday = daysales_all[daysales_all.length-1]
        var SalesYesterday = daysales_all[daysales_all.length-2]
        var diff= SalesToday-SalesYesterday
        var ratio =diff*100/SalesToday
        $('.salestoday').text(SalesToday+"원")
        $('.salesincrease').text(diff+"원"+"("+ratio.toFixed(2)+"%"+")")
        function avg(arr) {
          var sum=0
          for ( var i = 0; i < arr.length; i ++){
            sum=sum+Number(arr[i])
          }
          var thisweekavg=sum/arr.length
          return Math.floor(thisweekavg)
         }


    </script>


    {% csrf_token %}
    <script>
        var LastweekSalesdays = []
        var Lastweekdaysales_all=[]
    </script>
    {% for day,daysales in LastweekSales %}
    <script>
        var x = '{{day}}'
        var y = '{{daysales}}'
        LastweekSalesdays.push(x)
        Lastweekdaysales_all.push(y)


    </script>
    {% endfor %}

    <script>
      var diff= (avg(daysales_all)-avg(Lastweekdaysales_all))/avg(daysales_all)
        $('.weekSalesAvg').text(avg(daysales_all)+"원")
        $('.weekSalesAvgIncrease').text(diff.toFixed(2)+"%")

    </script>

    {% csrf_token %}
    <script>
        var SignUpdays = []
        var daysignup_all=[]
    </script>
    {% for day,signup in SignUpDay %}
    <script>
        var x = '{{day}}'
        var y = '{{signup}}'
        SignUpdays.push(x)
        daysignup_all.push(y)
    </script>
    {% endfor %}
    <script>
        var SignUpToday = daysignup_all[daysignup_all.length-1]
        var SignUpYesterday = daysignup_all[daysignup_all.length-2]
        var diff= SignUpToday-SignUpYesterday
        var ratio =diff*100/SignUpToday
        $('.signuptoday').text(SignUpToday+"명")
        $('.signupincrease').text(diff+"명"+"("+ratio.toFixed(2)+"%"+")")
    </script>

    {% csrf_token %}
    <script>
        var Coupledays = []
        var daycouple_all=[]
    </script>
    {% for day,couple in CoupleDay %}
    <script>
        var x = '{{day}}'
        var y = '{{couple}}'
        Coupledays.push(x)
        daycouple_all.push(y)
    </script>
    {% endfor %}
    <script>
        var CoupleToday = daycouple_all[daycouple_all.length-1]
        var CoupleYesterday = daycouple_all[daycouple_all.length-2]
        var diff= CoupleToday-CoupleYesterday
        var ratio =diff*100/CoupleToday
        $('.coupletoday').text(CoupleToday+"명")
        $('.coupleincrease').text(diff+"명"+"("+ratio.toFixed(2)+"%"+")")
    </script>

{% endblock content %}