{% extends "adminBase.html" %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
                <div class="card">

                </div>
              </div>
		  </div>

         <!-- partial -->
		  <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="card">
                  <div class="p-4 border-bottom bg-light">
                    <h4 class="card-title mb-0">매출 분석</h4>
                    <div class="btn-group" role="group" aria-label="First group">
                      <button type="button" class="btn btn-light daysales">일 매출</button>
                      <button type="button" class="btn btn-light monthsales">월 매출</button>
                      <button type="button" class="btn btn-light yearsales">연 매출</button>
                    </div>
                  </div>
                  <div class="card-body daychart">
                    <canvas id="sales_chart_day" height="100"></canvas>
                    <div class="mr-5" id="line-traffic-legend"></div>
                  </div>
                  <div class="card-body monthchart">
                    <canvas id="sales_chart_month" height="100"></canvas>
                    <div class="mr-5" id="line-traffic-legend1"></div>
                  </div>
                  <div class="card-body yearchart">
                    <canvas id="sales_chart_year" height="100"></canvas>
                    <div class="mr-5" id="line-traffic-legend2"></div>
                  </div>
                </div>
              </div>
		  </div>


   {% csrf_token %}
    <script>
        var days = []
        var daysales_all=[]
    </script>
    {% for day,daysales in resultDay %}
    <script>
        var x = '{{day}}'
        var y = '{{daysales}}'
        days.push(x)
        daysales_all.push(y)
    </script>
    {% endfor %}

    {% csrf_token %}
    <script>
        var months = []
        var monthsales_all=[]
    </script>
    {% for month,monthsales in resultMonth %}
    <script>
        var x = '{{month}}'
        var y = '{{monthsales}}'
        months.push(x)
        monthsales_all.push(y)
    </script>
    {% endfor %}

    {% csrf_token %}
    <script>
        var years = []
        var yearsales_all=[]
    </script>
    {% for year,yearsales in resultYear %}
    <script>
        var x = '{{year}}'
        var y = '{{yearsales}}'
        years.push(x)
        yearsales_all.push(y)
    </script>
    {% endfor %}

<script>
  $('.daysales').click(function(){
    $('.card-body').hide()
    $('.daychart').show()
  })
  $('.monthsales').click(function(){
    $('.card-body').hide()
    $('.monthchart').show()
  })
  $('.yearsales').click(function(){
    $('.card-body').hide()
    $('.yearchart').show()
  })



  $(function () {
      $('.card-body').hide()
      $('.daychart').show()
      /* ChartJS */
      'use strict';
      if ($("#sales_chart_day").length) {
      var lineData = {
        labels: days,
        datasets: [{
          data: daysales_all,
          backgroundColor: ChartColor[0],
          borderColor: ChartColor[0],
          borderWidth: 3,
          fill: 'false',
          label: "Sales"
        }]
      };
      var lineOptions = {
        responsive: true,
        maintainAspectRatio: true,
        plugins: {
          filler: {
            propagate: false
          }
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: '일 매출',
              fontSize: 12,
              lineHeight: 2
            },
            ticks: {
              fontColor: '#212229',
              stepSize: 50,
              min: 0,
              max: 150,
              autoSkip: true,
              autoSkipPadding: 15,
              maxRotation: 0,
              maxTicksLimit: 10
            },
            gridLines: {
              display: false,
              drawBorder: false,
              color: 'transparent',
              zeroLineColor: '#eeeeee'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Number of sales',
              fontSize: 12,
              lineHeight: 2
            },
            ticks: {
              fontColor: '#212229',
              display: true,
              autoSkip: false,
              maxRotation: 0,
              stepSize: Math.max.apply(null,daysales_all)/10,
              min: Math.min.apply(null,daysales_all)*0.9,
              max: Math.round(Math.max.apply(null,daysales_all)*1.1)
            },
            gridLines: {
              drawBorder: false
            }
          }]
        },
        legend: {
          display: false
        },
        legendCallback: function (chart) {
          var text = [];
          text.push('<div class="chartjs-legend"><ul>');
          for (var i = 0; i < chart.data.datasets.length; i++) {
            console.log(chart.data.datasets[i]); // see what's inside the obj.
            text.push('<li>');
            text.push('<span style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span>');
            text.push(chart.data.datasets[i].label);
            text.push('</li>');
          }
          text.push('</ul></div>');
          return text.join("");
        },
        elements: {
          line: {
            tension: 0
          },
          point: {
            radius: 0
          }
        }
      }
      var lineChartCanvas = $("#sales_chart_day").get(0).getContext("2d");
      var lineChart = new Chart(lineChartCanvas, {
        type: 'line',
        data: lineData,
        options: lineOptions
      });
      document.getElementById('line-traffic-legend').innerHTML = lineChart.generateLegend();
    }

    if ($("#sales_chart_month").length) {
      var lineData = {
        labels: months,
        datasets: [{
          data: monthsales_all,
          backgroundColor: ChartColor[0],
          borderColor: ChartColor[0],
          borderWidth: 3,
          fill: 'false',
          label: "Sales"
        }]
      };
      var lineOptions = {
        responsive: true,
        maintainAspectRatio: true,
        plugins: {
          filler: {
            propagate: false
          }
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: '월 매출',
              fontSize: 12,
              lineHeight: 2
            },
            ticks: {
              fontColor: '#212229',
              stepSize: 50,
              min: 0,
              max: 150,
              autoSkip: true,
              autoSkipPadding: 15,
              maxRotation: 0,
              maxTicksLimit: 10
            },
            gridLines: {
              display: false,
              drawBorder: false,
              color: 'transparent',
              zeroLineColor: '#eeeeee'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Number of sales',
              fontSize: 12,
              lineHeight: 2
            },
            ticks: {
              fontColor: '#212229',
              display: true,
              autoSkip: false,
              maxRotation: 0,
              stepSize: Math.max.apply(null,monthsales_all)/10,
              min: Math.min.apply(null,monthsales_all)*0.9,
              max: Math.round(Math.max.apply(null,monthsales_all)*1.1)
            },
            gridLines: {
              drawBorder: false
            }
          }]
        },
        legend: {
          display: false
        },
        legendCallback: function (chart) {
          var text = [];
          text.push('<div class="chartjs-legend"><ul>');
          for (var i = 0; i < chart.data.datasets.length; i++) {
            console.log(chart.data.datasets[i]); // see what's inside the obj.
            text.push('<li>');
            text.push('<span style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span>');
            text.push(chart.data.datasets[i].label);
            text.push('</li>');
          }
          text.push('</ul></div>');
          return text.join("");
        },
        elements: {
          line: {
            tension: 0
          },
          point: {
            radius: 0
          }
        }
      }
      var lineChartCanvas = $("#sales_chart_month").get(0).getContext("2d");
      var lineChart = new Chart(lineChartCanvas, {
        type: 'line',
        data: lineData,
        options: lineOptions
      });
      document.getElementById('line-traffic-legend1').innerHTML = lineChart.generateLegend();
    }

    if ($("#sales_chart_year").length) {
      var lineData = {
        labels: years,
        datasets: [{
          data: yearsales_all,
          backgroundColor: ChartColor[0],
          borderColor: ChartColor[0],
          borderWidth: 3,
          fill: 'false',
          label: "Sales"
        }]
      };
      var lineOptions = {
        responsive: true,
        maintainAspectRatio: true,
        plugins: {
          filler: {
            propagate: false
          }
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: '연 매출',
              fontSize: 12,
              lineHeight: 2
            },
            ticks: {
              fontColor: '#212229',
              stepSize: 50,
              min: 0,
              max: 150,
              autoSkip: true,
              autoSkipPadding: 15,
              maxRotation: 0,
              maxTicksLimit: 10
            },
            gridLines: {
              display: false,
              drawBorder: false,
              color: 'transparent',
              zeroLineColor: '#eeeeee'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Number of sales',
              fontSize: 12,
              lineHeight: 2
            },
            ticks: {
              fontColor: '#212229',
              display: true,
              autoSkip: false,
              maxRotation: 0,
              stepSize: Math.max.apply(null,yearsales_all)/10,
              min: Math.min.apply(null,yearsales_all)*0.9,
              max: Math.round(Math.max.apply(null,yearsales_all)*1.1)
            },
            gridLines: {
              drawBorder: false
            }
          }]
        },
        legend: {
          display: false
        },
        legendCallback: function (chart) {
          var text = [];
          text.push('<div class="chartjs-legend"><ul>');
          for (var i = 0; i < chart.data.datasets.length; i++) {
            console.log(chart.data.datasets[i]); // see what's inside the obj.
            text.push('<li>');
            text.push('<span style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span>');
            text.push(chart.data.datasets[i].label);
            text.push('</li>');
          }
          text.push('</ul></div>');
          return text.join("");
        },
        elements: {
          line: {
            tension: 0
          },
          point: {
            radius: 0
          }
        }
      }
      var lineChartCanvas = $("#sales_chart_year").get(0).getContext("2d");
      var lineChart = new Chart(lineChartCanvas, {
        type: 'line',
        data: lineData,
        options: lineOptions
      });
      document.getElementById('line-traffic-legend2').innerHTML = lineChart.generateLegend();
    }
  });

</script>



{% endblock content %}